*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    background: #a8a8a8;
    font-family: sans-serif;
}

canvas {
    background: white url("https://i.imgur.com/uVOZ1TW.jpg");
}

#paint {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.toolbar{

}

.placeholder {
    position: absolute;
    z-index: 999;
}